/* source-sans-3-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/source-sans-3-v9-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/source-sans-3-v9-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-sans-3-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/source-sans-3-v9-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

#click-point {
  box-sizing: border-box;
  position: absolute;
  width: clamp(5vw, 3rem, 100px);
  height: clamp(5vw, 3rem, 100px);
  background: rgba($color: #20d40f, $alpha: 0.3);
  border: #48ff00 dashed 5px;
  border-radius: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #48ff00;
  }
}

#dropdown-menu {
  position: absolute;
  transform: translate(60%, 20%);
  z-index: 10;
  padding: 1rem;
  margin: 0;
  background-color: #ddd;
  outline: 3px solid rgb(24 17 17);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  ul {
    padding-inline: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    list-style: none;
    li {
      flex: 1;
      img {
        border-radius: 10px;
        width: clamp(2.3rem, 5vw, 5rem);
        height: clamp(2.3rem, 5vw, 7rem);
      }
      .target-info {
        display: flex;
        flex-direction: column;
        .target--name {
          font-size: clamp(0.5rem, 0.5vw, 3rem);
          font-family: "Source Sans 3";
          text-transform: capitalize;
          flex: 1;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  #dropdown-menu {
    padding: 0.5rem;
  }
}
